@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
BSD Entrerprise 
</address>

<address>
<a href="mailto:Jesman.marquez89@outlook.com">Contacta con el desarrollador</a><br />
</address>
