@{
    ViewData["Title"] = "Home Page";
}


    
    <div >
        
            <img src="~/images/ban.jpg" alt="ASP.NET" class="glyphicon-expand" />

           
        </div>
        
      
        
    
    
   
    
